openapi: 3.1.0
info:
  title: E-Credentialing CVO Platform — Public REST API v1
  version: "1.3.0"
  summary: Read-only public REST API for the E-Credentialing CVO platform.
  description: |
    The v1 surface is intentionally read-only. Every request requires
    a Bearer API key with the appropriate scope; every request is
    audited; PHI fields (SSN, DOB, DEA, personal address, notes) are
    NEVER returned regardless of scope.

    For a no-auth playground using synthetic data, see
    `/api/sandbox/v1/*` (documented at `/sandbox`).

    Rate limiting (since v1.2.0): every successful response carries
    `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and
    `X-RateLimit-Reset` headers (Unix-seconds). When you exceed the
    per-key budget the API returns a `429` with the `RateLimitProblem`
    body and a `Retry-After` header.

    Request correlation (since v1.3.0): every request and response —
    success or error — carries an `X-Request-Id` header. Send your
    own (`^[A-Za-z0-9_\-]{8,128}$`) and we'll honour it; otherwise
    we generate one server-side. Paste it into a support ticket and
    we can find your call in O(1). See `docs/api/versioning.md`
    for the full contract and deprecation policy.

    Wave 8 (2026-04-18). See ADR 0020 and `docs/qa/per-pillar/pillar-j-api.md`.
  contact:
    name: HDPulseAI
    url: https://github.com/hdpulseAIDeveloper/E_Credentialing
  license:
    name: Proprietary — internal use; external use under separate license
servers:
  - url: https://credentialing.hdpulseai.com
    description: Production
  - url: http://localhost:3000
    description: Local development
security:
  - BearerApiKey: []
tags:
  - name: health
    description: Customer-facing API key + environment health probe.
  - name: providers
    description: Provider directory + provider details + CV PDF.
  - name: sanctions
    description: Sanctions check history.
  - name: enrollments
    description: Payer enrollment status.

paths:
  /api/v1/health:
    get:
      tags: [health]
      summary: API key + environment health probe
      description: |
        Verifies that the supplied API key is active and that the
        environment is reachable. Returns the keyId so the caller can
        confirm which key is in use without echoing the secret, the
        API surface version, and a server-side timestamp for
        clock-skew checks.

        Authentication: ANY active API key. Unlike every other v1
        operation, this endpoint does NOT require a specific scope
        — a brand-new, scopeless key returns 200 here. This makes
        it the natural first call when wiring up the SDK.

        Versioning: shipped in v1.1.0 (SemVer minor — additive
        only). See `docs/api/versioning.md`.
      operationId: getHealth
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Healthy.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }
        "401":
          description: Missing, invalid, expired, or revoked API key.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/providers:
    get:
      tags: [providers]
      summary: List providers
      description: |
        Returns a paginated list of providers. Supports filtering by
        `status` and `npi`. PHI is never included.
      operationId: listProviders
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - in: query
          name: status
          schema: { $ref: "#/components/schemas/ProviderStatus" }
        - in: query
          name: npi
          description: Exact-match NPI filter.
          schema: { type: string, pattern: "^[0-9]{10}$" }
      responses:
        "200":
          description: Page of providers.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProvidersPage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/providers/{id}:
    get:
      tags: [providers]
      summary: Get one provider (full envelope, no PHI)
      operationId: getProvider
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - in: path
          name: id
          required: true
          schema: { type: string, format: cuid }
      responses:
        "200":
          description: Provider envelope.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/ProviderDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/providers/{id}/cv.pdf:
    get:
      tags: [providers]
      summary: Download a provider's CV as PDF
      description: |
        Streams a fully-formed Curriculum Vitae as `application/pdf`.
        Requires the `providers:cv` scope. The CV includes only data
        commonly published in CVs (name, NPI, provider type, education,
        licensure, board certs, hospital privileges, work history,
        CME log) — never SSN, DOB, DEA, or personal addresses.
      operationId: getProviderCv
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - in: path
          name: id
          required: true
          schema: { type: string, format: cuid }
      responses:
        "200":
          description: PDF CV stream.
          headers:
            Content-Disposition:
              schema: { type: string, example: 'attachment; filename="cv-prov-abc12.pdf"' }
            Content-Length:
              schema: { type: integer }
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/sanctions:
    get:
      tags: [sanctions]
      summary: List sanctions checks
      operationId: listSanctions
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - in: query
          name: providerId
          schema: { type: string, format: cuid }
        - in: query
          name: result
          schema: { $ref: "#/components/schemas/SanctionsResult" }
      responses:
        "200":
          description: Page of sanctions checks.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SanctionsPage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/enrollments:
    get:
      tags: [enrollments]
      summary: List payer enrollments
      operationId: listEnrollments
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - in: query
          name: status
          schema: { $ref: "#/components/schemas/EnrollmentStatus" }
        - in: query
          name: payer
          description: Case-insensitive substring filter on payer name.
          schema: { type: string, maxLength: 200 }
      responses:
        "200":
          description: Page of enrollments.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EnrollmentsPage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

components:
  securitySchemes:
    BearerApiKey:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: |
        Issue keys via `/admin/api-keys`. Each key carries one or more
        scopes (see `x-scopes` below). Keys are stored hashed
        (SHA-256) in `api_keys`; raw value is shown once at creation.
      x-scopes:
        providers:read: Read provider summary + detail records.
        providers:cv: Generate the curriculum vitae PDF for a provider.
        sanctions:read: Read OIG/SAM sanction match records.
        enrollments:read: Read payor enrollment status records.
        documents:read: Read provider document metadata (no PHI).

  parameters:
    RequestIdHeader:
      in: header
      name: X-Request-Id
      required: false
      description: |
        Optional caller-supplied correlation id. If supplied and it
        matches `^[A-Za-z0-9_\-]{8,128}$` the server honours it and
        echoes it back on the response. Otherwise the server
        generates one. Pair this with your client-side log lines for
        end-to-end tracing. Available since v1.3.0.
      schema: { type: string, pattern: "^[A-Za-z0-9_\\-]{8,128}$" }
    Page:
      in: query
      name: page
      description: 1-based page index. Default 1.
      schema: { type: integer, minimum: 1, default: 1 }
    Limit:
      in: query
      name: limit
      description: Items per page (max 100). Default 25.
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }

  responses:
    Unauthorized:
      description: Missing or invalid API key.
      headers:
        X-Request-Id: { $ref: "#/components/headers/RequestId" }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: API key valid but lacks the required scope.
      headers:
        X-Request-Id: { $ref: "#/components/headers/RequestId" }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Resource not found.
      headers:
        X-Request-Id: { $ref: "#/components/headers/RequestId" }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    RateLimited:
      description: |
        Too many requests for this key. The body is a
        `RateLimitProblem`. The `Retry-After` header (seconds) tells
        you when the next request is allowed; the standard
        `X-RateLimit-*` headers (also present on every successful
        response since v1.2.0) describe your budget.
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        X-RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/RateLimitReset"
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema: { $ref: "#/components/schemas/RateLimitProblem" }

  headers:
    RequestId:
      description: |
        Correlation id for this request/response pair. If the inbound
        request supplied a valid `X-Request-Id` we honour it;
        otherwise we generate one server-side as `req_<hex>`.
        Present on every response (2xx and non-2xx). Format:
        `^[A-Za-z0-9_\-]{8,128}$`. Pass it to support to look up the
        full audit + log trail in O(1). Available since v1.3.0.
      schema: { type: string, pattern: "^[A-Za-z0-9_\\-]{8,128}$", example: "req_8f3c2a91d4b6e0f5" }
    RateLimitLimit:
      description: |
        Maximum requests allowed in the current fixed window for the
        authenticated API key. Stable across the window. Present on
        every successful 2xx response and on the 429 rejection.
      schema: { type: integer, minimum: 1, example: 120 }
    RateLimitRemaining:
      description: |
        Requests still available in the current window (>= 0).
        Decrements on every accepted request. On a 429 this is `0`.
      schema: { type: integer, minimum: 0, example: 117 }
    RateLimitReset:
      description: |
        Unix-seconds (UTC) timestamp when the current window resets
        and `X-RateLimit-Remaining` returns to `X-RateLimit-Limit`.
      schema: { type: integer, minimum: 0, example: 1739887200 }
    RetryAfter:
      description: |
        Seconds the client should wait before retrying. Always >= 1.
        Present only on `429` responses.
      schema: { type: integer, minimum: 1, example: 7 }

  schemas:
    Error:
      type: object
      required: [error]
      description: |
        Canonical v1 error envelope. The body of every non-2xx response
        from `/api/v1/*` follows this shape. Clients (including the
        in-tree TypeScript SDK) parse `error.code` and `error.message`.
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: |
                Stable machine-readable identifier for the failure
                mode. Snake_case. Part of the contract — never renamed
                without bumping `info.version` and following the
                deprecation policy in `docs/api/versioning.md`.
              example: "not_found"
            message:
              type: string
              description: Human-readable explanation, may change between releases.
              example: "Provider not found"
            required:
              type: string
              description: |
                Present on `insufficient_scope` errors — names the
                scope the API key would have needed. Optional on
                other errors.

    RateLimitProblem:
      type: object
      required: [error]
      description: |
        Body of a `429 Too Many Requests` response. Extends `Error`
        with a `retryAfterSeconds` field that mirrors the
        `Retry-After` header so SDKs that don't read response headers
        can still back off correctly.
      properties:
        error:
          type: object
          required: [code, message, retryAfterSeconds]
          properties:
            code:
              type: string
              const: "rate_limited"
              example: "rate_limited"
            message:
              type: string
              example: "Rate limit of 120 requests/min exceeded. Retry in 7s."
            retryAfterSeconds:
              type: integer
              minimum: 1
              example: 7
              description: |
                Seconds until the next request is allowed. Always
                matches the `Retry-After` header.

    Pagination:
      type: object
      required: [page, limit, total, totalPages]
      properties:
        page: { type: integer, minimum: 1 }
        limit: { type: integer, minimum: 1, maximum: 100 }
        total: { type: integer, minimum: 0 }
        totalPages: { type: integer, minimum: 0 }

    Health:
      type: object
      description: |
        Result of `GET /api/v1/health`. Confirms the supplied API key
        is active and the environment is reachable. Never includes
        PHI or customer-specific business data beyond the keyId
        fingerprint.
      required: [ok, keyId, apiVersion, time]
      properties:
        ok:
          type: boolean
          description: Always `true` on a 200 response. Reserved for forward-compat.
          example: true
        keyId:
          type: string
          format: cuid
          description: Identifier of the active API key (NOT the secret).
          example: "ck0jm0a4e0000abcd1234efgh"
        apiVersion:
          type: string
          description: Semver version of the v1 surface (matches `info.version`).
          example: "1.3.0"
        time:
          type: string
          format: date-time
          description: Server-side ISO-8601 UTC timestamp for clock-skew checks.
          example: "2026-04-18T20:45:00.000Z"

    ProviderStatus:
      type: string
      description: Lifecycle stage of the provider record.
      enum:
        - INVITED
        - APPLICATION_IN_PROGRESS
        - VERIFICATION_IN_PROGRESS
        - COMMITTEE_REVIEW
        - APPROVED
        - DENIED
        - TERMINATED
        - SUSPENDED

    SanctionsResult:
      type: string
      enum: [CLEAR, MATCH, REVIEW_REQUIRED]

    EnrollmentStatus:
      type: string
      enum:
        - NOT_STARTED
        - IN_PROGRESS
        - SUBMITTED
        - APPROVED
        - DENIED
        - TERMINATED

    ProviderType:
      type: object
      properties:
        name: { type: string }
        abbreviation: { type: string }

    ProviderSummary:
      type: object
      required: [id, legalFirstName, legalLastName, status, createdAt]
      properties:
        id: { type: string, format: cuid }
        legalFirstName: { type: string }
        legalLastName: { type: string }
        npi: { type: string, nullable: true, pattern: "^[0-9]{10}$" }
        status: { $ref: "#/components/schemas/ProviderStatus" }
        providerType: { $ref: "#/components/schemas/ProviderType" }
        approvedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

    ProviderDetail:
      allOf:
        - $ref: "#/components/schemas/ProviderSummary"
        - type: object
          properties:
            legalMiddleName: { type: string, nullable: true }
            caqhId: { type: string, nullable: true }
            updatedAt: { type: string, format: date-time }
            profile:
              type: object
              nullable: true
              properties:
                specialtyPrimary: { type: string, nullable: true }
                facilityAssignment: { type: string, nullable: true }
                jobTitle: { type: string, nullable: true }
            licenses:
              type: array
              items:
                type: object
                properties:
                  id: { type: string, format: cuid }
                  state: { type: string }
                  licenseType: { type: string }
                  status: { type: string }
                  expirationDate: { type: string, format: date, nullable: true }
            enrollments:
              type: array
              items:
                type: object
                properties:
                  id: { type: string, format: cuid }
                  payerName: { type: string }
                  status: { $ref: "#/components/schemas/EnrollmentStatus" }
                  effectiveDate: { type: string, format: date, nullable: true }
            expirables:
              type: array
              items:
                type: object
                properties:
                  id: { type: string, format: cuid }
                  expirableType: { type: string }
                  status: { type: string }
                  expirationDate: { type: string, format: date, nullable: true }

    ProvidersPage:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/ProviderSummary" }
        pagination: { $ref: "#/components/schemas/Pagination" }

    SanctionsCheck:
      type: object
      required: [id, source, result, runDate]
      properties:
        id: { type: string, format: cuid }
        source: { type: string, example: "OIG_LEIE" }
        result: { $ref: "#/components/schemas/SanctionsResult" }
        runDate: { type: string, format: date-time }
        triggeredBy: { type: string, nullable: true }
        provider:
          type: object
          properties:
            id: { type: string, format: cuid }
            legalFirstName: { type: string }
            legalLastName: { type: string }
            npi: { type: string, nullable: true }

    SanctionsPage:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/SanctionsCheck" }
        pagination: { $ref: "#/components/schemas/Pagination" }

    Enrollment:
      type: object
      required: [id, payerName, status]
      properties:
        id: { type: string, format: cuid }
        payerName: { type: string }
        enrollmentType: { type: string, nullable: true }
        status: { $ref: "#/components/schemas/EnrollmentStatus" }
        effectiveDate: { type: string, format: date, nullable: true }
        submittedAt: { type: string, format: date-time, nullable: true }
        provider:
          type: object
          properties:
            id: { type: string, format: cuid }
            legalFirstName: { type: string }
            legalLastName: { type: string }
            npi: { type: string, nullable: true }

    EnrollmentsPage:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/Enrollment" }
        pagination: { $ref: "#/components/schemas/Pagination" }
