openapi: 3.1.0
info:
  title: E-Credentialing CVO Platform — Public REST API v1
  version: "1.10.0"
  summary: Read-only public REST API for the E-Credentialing CVO platform.
  description: |
    The v1 surface is intentionally read-only. Every request requires
    a Bearer API key with the appropriate scope; every request is
    audited; PHI fields (SSN, DOB, DEA, personal address, notes) are
    NEVER returned regardless of scope.

    For a no-auth playground using synthetic data, see
    `/api/sandbox/v1/*` (documented at `/sandbox`).

    Rate limiting (since v1.2.0): every successful response carries
    `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and
    `X-RateLimit-Reset` headers (Unix-seconds). When you exceed the
    per-key budget the API returns a `429` with the `RateLimitProblem`
    body and a `Retry-After` header.

    Request correlation (since v1.3.0): every request and response —
    success or error — carries an `X-Request-Id` header. Send your
    own (`^[A-Za-z0-9_\-]{8,128}$`) and we'll honour it; otherwise
    we generate one server-side. Paste it into a support ticket and
    we can find your call in O(1). See `docs/api/versioning.md`
    for the full contract and deprecation policy.

    Key introspection (since v1.4.0): `GET /api/v1/me` returns the
    current API key's name, granted scopes, lifecycle timestamps,
    and current rate-limit budget. Pairs with `/health` to make
    "is my key configured correctly?" a one-call answer.

    Pagination links (since v1.5.0): every paginated list response
    carries an RFC 8288 `Link` header listing `first`, `prev`,
    `next`, and `last` page URLs. Clients can navigate the result
    set without parsing the JSON envelope.

    Conditional GETs (since v1.6.0): every read endpoint emits a
    weak `ETag` response header derived from a stable hash of the
    cacheable subset of the response body. Send the value back as
    `If-None-Match: "<etag>"` on the next poll; if nothing has
    changed the API replies `304 Not Modified` with an empty body
    (zero JSON bytes). Saves bandwidth, DB round-trips, and your
    rate-limit budget. The 304 still carries `X-Request-Id` and
    the rate-limit headers.

    Deprecation contract (since v1.7.0): an operation that has
    entered its deprecation window emits the standard advisory
    headers — `Deprecation` (RFC 9745) carrying the `@unix-seconds`
    structured-fields integer when deprecation took effect,
    `Sunset` (RFC 8594) carrying the IMF-fixdate when the operation
    will start returning `410 Gone`, and `Link` entries with
    `rel="deprecation"`, `rel="sunset"`, and (where one exists)
    `rel="successor-version"` pointing at the upgrade guide and
    replacement endpoint. **The headers are absent from operations
    that are not on a deprecation path** — their presence is the
    signal. The full lifecycle policy lives in
    `docs/api/versioning.md` §4. The TypeScript SDK parses these
    headers via `parseDeprecation(headers)` and emits a one-time
    `console.warn` per process so customers find out before the
    sunset wall-clock fires.

    Problem Details for HTTP APIs (since v1.8.0): every error
    response body is now an RFC 9457 Problem object — `type`
    (stable URI per error code), `title` (short human-readable),
    `status` (mirror of HTTP status), `detail` (occurrence-specific
    message), and optional `instance` (the request path that
    triggered the error). The legacy `{ error: { code, message,
    ...extras } }` envelope is preserved verbatim inside the same
    body, so existing SDKs continue to read `body.error.code`
    unchanged. The Content-Type defaults to
    `application/problem+json` per RFC 9457 §3, except when the
    caller's `Accept` header explicitly excludes it. Status codes
    are unchanged. The TypeScript SDK exposes `parseProblem(body)`
    and `V1ApiError.problem` for typed access; raw fetch callers
    can read either shape.

    Error catalog (since v1.10.0): the `type` URI inside every
    Problem body resolves to a public, machine-readable catalog
    entry. Browse the canonical HTML index at `/errors`, get the
    raw JSON list at `GET /api/v1/errors`, or fetch a single
    entry at `GET /api/v1/errors/{code}` (snake_case OR kebab-case
    code accepted). Each catalog row carries a stable `code`,
    `title`, `status`, one-sentence `summary`, full `description`,
    concrete `remediation` guidance, the `sinceVersion` it was
    introduced in, and an optional `retiredInVersion`. Retired
    codes stay in the catalog forever so old `type` URIs in
    SDKs in the wild keep resolving — see
    `docs/dev/adr/0027-error-catalog.md` for the contract.

    Server-side request validation (since v1.9.0): every paginated
    list endpoint validates its query parameters with a strict Zod
    schema before touching the database. Invalid input returns a
    `400 Bad Request` Problem with `type` =
    `…/errors/invalid-request` and a non-empty `errors[]` extension
    array — each entry is `{ field, code, message }` where `field`
    is the dot-joined query parameter path, `code` is a stable Zod
    issue code (`too_small`, `too_big`, `invalid_enum_value`,
    `invalid_type`, `invalid_string`, etc.), and `message` is the
    English explanation. Multiple invalid parameters in one request
    surface as multiple entries in `errors[]` — clients no longer
    need to retry once per fix. The legacy `error` envelope and
    `application/problem+json` content negotiation are unchanged.

    Wave 8 (2026-04-18). See ADR 0020 and `docs/qa/per-pillar/pillar-j-api.md`.
  contact:
    name: HDPulseAI
    url: https://github.com/hdpulseAIDeveloper/E_Credentialing
  license:
    name: Proprietary — internal use; external use under separate license
servers:
  - url: https://credentialing.hdpulseai.com
    description: Production
  - url: http://localhost:3000
    description: Local development
security:
  - BearerApiKey: []
tags:
  - name: health
    description: Customer-facing API key + environment health probe.
  - name: me
    description: API key introspection — name, scopes, lifecycle, budget.
  - name: providers
    description: Provider directory + provider details + CV PDF.
  - name: sanctions
    description: Sanctions check history.
  - name: enrollments
    description: Payer enrollment status.
  - name: errors
    description: Public error catalog — the canonical resolver of every Problem `type` URI.

paths:
  /api/v1/health:
    get:
      tags: [health]
      summary: API key + environment health probe
      description: |
        Verifies that the supplied API key is active and that the
        environment is reachable. Returns the keyId so the caller can
        confirm which key is in use without echoing the secret, the
        API surface version, and a server-side timestamp for
        clock-skew checks.

        Authentication: ANY active API key. Unlike every other v1
        operation, this endpoint does NOT require a specific scope
        — a brand-new, scopeless key returns 200 here. This makes
        it the natural first call when wiring up the SDK.

        Versioning: shipped in v1.1.0 (SemVer minor — additive
        only). See `docs/api/versioning.md`.
      operationId: getHealth
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          description: Healthy.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            X-RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Sunset:
              $ref: "#/components/headers/Sunset"
            Link:
              $ref: "#/components/headers/Link"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }
        "304": { $ref: "#/components/responses/NotModified" }
        "401":
          description: Missing, invalid, expired, or revoked API key. Body is RFC 9457 Problem (since v1.8.0).
          headers:
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
            Deprecation: { $ref: "#/components/headers/Deprecation" }
            Sunset: { $ref: "#/components/headers/Sunset" }
            Link: { $ref: "#/components/headers/Link" }
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Error" }
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/me:
    get:
      tags: [me]
      summary: API key introspection
      description: |
        Returns the current API key's name, granted scopes,
        creation/expiration/last-used timestamps, and the current
        rate-limit budget snapshot. The canonical "what can my key
        actually do?" check.

        Authentication: ANY active API key. Like `/health`, no
        specific scope is required - a brand-new, scopeless key
        returns 200 here. This makes it useful for debugging "why
        am I getting 403?" issues without a chicken-and-egg scope
        requirement.

        Privacy: never returns the bearer key, the key hash, or
        any PHI. The `name` field is the human-readable label set
        by the admin who created the key (e.g.
        "Production prod-east"); it is safe to surface to the end
        user as "you are authenticated as X".

        Versioning: shipped in v1.4.0 (SemVer minor - additive
        only). See `docs/api/versioning.md`.
      operationId: getMe
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          description: API key introspection result.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
            Deprecation: { $ref: "#/components/headers/Deprecation" }
            Sunset: { $ref: "#/components/headers/Sunset" }
            Link: { $ref: "#/components/headers/Link" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Me" }
        "304": { $ref: "#/components/responses/NotModified" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/errors:
    get:
      tags: [errors]
      summary: List the public error catalog
      description: |
        Returns the full v1 error catalog — every `code` the
        platform can emit, with the same `title` / `status` the
        wire contract uses, plus a `summary`, `description`,
        `remediation`, and `sinceVersion`. The list is sorted by
        `code` ascending and is identical for every caller.

        Authentication: any active API key. Like `/health` and
        `/me`, no specific scope is required — a brand-new,
        scopeless key returns 200 here.

        Cacheability: the catalog only changes when the platform
        ships a new release, so the `ETag` is stable across
        thousands of polls. Send the value back as
        `If-None-Match` and the API replies `304 Not Modified`.

        Versioning: shipped in v1.10.0 (SemVer minor — additive
        only). See `docs/api/versioning.md` §3.10.
      operationId: listErrorCatalog
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          description: The full v1 error catalog.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
            Deprecation: { $ref: "#/components/headers/Deprecation" }
            Sunset: { $ref: "#/components/headers/Sunset" }
            Link: { $ref: "#/components/headers/Link" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorCatalogList" }
        "304": { $ref: "#/components/responses/NotModified" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/errors/{code}:
    get:
      tags: [errors]
      summary: Get a single error catalog entry
      description: |
        Returns the catalog entry for a single error `code`.
        Both the snake_case form (e.g. `insufficient_scope`) and
        the kebab-case URL suffix form (e.g.
        `insufficient-scope` — the suffix of the `type` URI in
        every Problem body) are accepted.

        Returns `404 Not Found` for unknown codes; the response
        is itself a Problem body with `type` =
        `…/errors/not-found` and an extension member
        `requestedCode` carrying the verbatim path parameter.

        Authentication, cacheability, and versioning: same as
        `GET /api/v1/errors`.
      operationId: getErrorCatalogEntry
      parameters:
        - in: path
          name: code
          required: true
          description: Error code (snake_case OR kebab-case).
          schema:
            type: string
            pattern: "^[a-z][a-z0-9_-]*$"
            example: "insufficient_scope"
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/IfNoneMatchHeader"
      responses:
        "200":
          description: The catalog entry for the requested code.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
            Deprecation: { $ref: "#/components/headers/Deprecation" }
            Sunset: { $ref: "#/components/headers/Sunset" }
            Link: { $ref: "#/components/headers/Link" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorCatalogEntry" }
        "304": { $ref: "#/components/responses/NotModified" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/providers:
    get:
      tags: [providers]
      summary: List providers
      description: |
        Returns a paginated list of providers. Supports filtering by
        `status` and `npi`. PHI is never included.
      operationId: listProviders
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/IfNoneMatchHeader"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - in: query
          name: status
          schema: { $ref: "#/components/schemas/ProviderStatus" }
        - in: query
          name: npi
          description: Exact-match NPI filter.
          schema: { type: string, pattern: "^[0-9]{10}$" }
      responses:
        "200":
          description: Page of providers.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            Link: { $ref: "#/components/headers/Link" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
            Deprecation: { $ref: "#/components/headers/Deprecation" }
            Sunset: { $ref: "#/components/headers/Sunset" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProvidersPage" }
        "304": { $ref: "#/components/responses/NotModified" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/providers/{id}:
    get:
      tags: [providers]
      summary: Get one provider (full envelope, no PHI)
      operationId: getProvider
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/IfNoneMatchHeader"
        - in: path
          name: id
          required: true
          schema: { type: string, format: cuid }
      responses:
        "200":
          description: Provider envelope.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
            Deprecation: { $ref: "#/components/headers/Deprecation" }
            Sunset: { $ref: "#/components/headers/Sunset" }
            Link: { $ref: "#/components/headers/Link" }
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/ProviderDetail" }
        "304": { $ref: "#/components/responses/NotModified" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/providers/{id}/cv.pdf:
    get:
      tags: [providers]
      summary: Download a provider's CV as PDF
      description: |
        Streams a fully-formed Curriculum Vitae as `application/pdf`.
        Requires the `providers:cv` scope. The CV includes only data
        commonly published in CVs (name, NPI, provider type, education,
        licensure, board certs, hospital privileges, work history,
        CME log) — never SSN, DOB, DEA, or personal addresses.
      operationId: getProviderCv
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - in: path
          name: id
          required: true
          schema: { type: string, format: cuid }
      responses:
        "200":
          description: PDF CV stream.
          headers:
            Content-Disposition:
              schema: { type: string, example: 'attachment; filename="cv-prov-abc12.pdf"' }
            Content-Length:
              schema: { type: integer }
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
            Deprecation: { $ref: "#/components/headers/Deprecation" }
            Sunset: { $ref: "#/components/headers/Sunset" }
            Link: { $ref: "#/components/headers/Link" }
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/sanctions:
    get:
      tags: [sanctions]
      summary: List sanctions checks
      operationId: listSanctions
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/IfNoneMatchHeader"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - in: query
          name: providerId
          schema: { type: string, format: cuid }
        - in: query
          name: result
          schema: { $ref: "#/components/schemas/SanctionsResult" }
      responses:
        "200":
          description: Page of sanctions checks.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
            Link: { $ref: "#/components/headers/Link" }
            Deprecation: { $ref: "#/components/headers/Deprecation" }
            Sunset: { $ref: "#/components/headers/Sunset" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SanctionsPage" }
        "304": { $ref: "#/components/responses/NotModified" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/enrollments:
    get:
      tags: [enrollments]
      summary: List payer enrollments
      operationId: listEnrollments
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/IfNoneMatchHeader"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - in: query
          name: status
          schema: { $ref: "#/components/schemas/EnrollmentStatus" }
        - in: query
          name: payer
          description: Case-insensitive substring filter on payer name.
          schema: { type: string, maxLength: 200 }
      responses:
        "200":
          description: Page of enrollments.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
            X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
            X-Request-Id: { $ref: "#/components/headers/RequestId" }
            Link: { $ref: "#/components/headers/Link" }
            Deprecation: { $ref: "#/components/headers/Deprecation" }
            Sunset: { $ref: "#/components/headers/Sunset" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EnrollmentsPage" }
        "304": { $ref: "#/components/responses/NotModified" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

components:
  securitySchemes:
    BearerApiKey:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: |
        Issue keys via `/admin/api-keys`. Each key carries one or more
        scopes (see `x-scopes` below). Keys are stored hashed
        (SHA-256) in `api_keys`; raw value is shown once at creation.
      x-scopes:
        providers:read: Read provider summary + detail records.
        providers:cv: Generate the curriculum vitae PDF for a provider.
        sanctions:read: Read OIG/SAM sanction match records.
        enrollments:read: Read payor enrollment status records.
        documents:read: Read provider document metadata (no PHI).

  parameters:
    RequestIdHeader:
      in: header
      name: X-Request-Id
      required: false
      description: |
        Optional caller-supplied correlation id. If supplied and it
        matches `^[A-Za-z0-9_\-]{8,128}$` the server honours it and
        echoes it back on the response. Otherwise the server
        generates one. Pair this with your client-side log lines for
        end-to-end tracing. Available since v1.3.0.
      schema: { type: string, pattern: "^[A-Za-z0-9_\\-]{8,128}$" }
    IfNoneMatchHeader:
      in: header
      name: If-None-Match
      required: false
      description: |
        Conditional GET — supply the `ETag` value the server returned
        on a previous response and, if nothing has changed, the
        server replies `304 Not Modified` with an empty body. Either
        the literal `*` (wildcard, always matches a current
        representation) or one or more quoted ETag tokens
        (`W/"<hex>"` or `"<hex>"`), comma-separated. Weak
        comparison per RFC 9110 §13.1.2 — a strong-form token
        (`"abc"`) matches the corresponding weak-form ETag
        (`W/"abc"`). Available since v1.6.0.
      schema: { type: string }
      example: 'W/"deadbeefcafebabe1234567890abcdef12345678"'
    Page:
      in: query
      name: page
      description: 1-based page index. Default 1.
      schema: { type: integer, minimum: 1, default: 1 }
    Limit:
      in: query
      name: limit
      description: Items per page (max 100). Default 25.
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }

  responses:
    Unauthorized:
      description: Missing or invalid API key. Body is RFC 9457 Problem (since v1.8.0).
      headers:
        X-Request-Id: { $ref: "#/components/headers/RequestId" }
        Deprecation: { $ref: "#/components/headers/Deprecation" }
        Sunset: { $ref: "#/components/headers/Sunset" }
        Link: { $ref: "#/components/headers/Link" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Error" }
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: API key valid but lacks the required scope. Body is RFC 9457 Problem (since v1.8.0).
      headers:
        X-Request-Id: { $ref: "#/components/headers/RequestId" }
        Deprecation: { $ref: "#/components/headers/Deprecation" }
        Sunset: { $ref: "#/components/headers/Sunset" }
        Link: { $ref: "#/components/headers/Link" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Error" }
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Resource not found. Body is RFC 9457 Problem (since v1.8.0).
      headers:
        X-Request-Id: { $ref: "#/components/headers/RequestId" }
        Deprecation: { $ref: "#/components/headers/Deprecation" }
        Sunset: { $ref: "#/components/headers/Sunset" }
        Link: { $ref: "#/components/headers/Link" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Error" }
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotModified:
      description: |
        Conditional GET cache hit (since v1.6.0). The caller sent
        `If-None-Match` with an ETag that matches the current
        representation. The response body is empty (zero bytes per
        RFC 9110 §15.4.5); the `ETag`, `X-Request-Id`, and
        rate-limit headers are still present, and (since v1.7.0)
        any `Deprecation` / `Sunset` / `Link` advisory headers
        applicable to the operation also fire on the 304 — a
        client polling on `If-None-Match` must still find out
        about deprecation.
      headers:
        ETag:
          $ref: "#/components/headers/ETag"
        X-RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/RateLimitReset"
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
        Deprecation:
          $ref: "#/components/headers/Deprecation"
        Sunset:
          $ref: "#/components/headers/Sunset"
        Link:
          $ref: "#/components/headers/Link"
    RateLimited:
      description: |
        Too many requests for this key. The body is a
        `RateLimitProblem`. The `Retry-After` header (seconds) tells
        you when the next request is allowed; the standard
        `X-RateLimit-*` headers (also present on every successful
        response since v1.2.0) describe your budget.
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        X-RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/RateLimitReset"
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
        Deprecation:
          $ref: "#/components/headers/Deprecation"
        Sunset:
          $ref: "#/components/headers/Sunset"
        Link:
          $ref: "#/components/headers/Link"
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/RateLimitProblem" }
        application/json:
          schema: { $ref: "#/components/schemas/RateLimitProblem" }
    BadRequest:
      description: |
        Request validation failed (since v1.9.0). Body is an RFC 9457
        Problem of `type` `…/errors/invalid-request` with a non-empty
        `errors[]` extension array describing every offending query
        parameter in one response. Status is always 400. The legacy
        `error: { code: "invalid_request", message }` envelope is
        preserved at the same path as every other v1 error.
      headers:
        X-RateLimit-Limit: { $ref: "#/components/headers/RateLimitLimit" }
        X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
        X-RateLimit-Reset: { $ref: "#/components/headers/RateLimitReset" }
        X-Request-Id: { $ref: "#/components/headers/RequestId" }
        Deprecation: { $ref: "#/components/headers/Deprecation" }
        Sunset: { $ref: "#/components/headers/Sunset" }
        Link: { $ref: "#/components/headers/Link" }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ValidationProblem" }
        application/json:
          schema: { $ref: "#/components/schemas/ValidationProblem" }

  headers:
    RequestId:
      description: |
        Correlation id for this request/response pair. If the inbound
        request supplied a valid `X-Request-Id` we honour it;
        otherwise we generate one server-side as `req_<hex>`.
        Present on every response (2xx and non-2xx). Format:
        `^[A-Za-z0-9_\-]{8,128}$`. Pass it to support to look up the
        full audit + log trail in O(1). Available since v1.3.0.
      schema: { type: string, pattern: "^[A-Za-z0-9_\\-]{8,128}$", example: "req_8f3c2a91d4b6e0f5" }
    RateLimitLimit:
      description: |
        Maximum requests allowed in the current fixed window for the
        authenticated API key. Stable across the window. Present on
        every successful 2xx response and on the 429 rejection.
      schema: { type: integer, minimum: 1, example: 120 }
    RateLimitRemaining:
      description: |
        Requests still available in the current window (>= 0).
        Decrements on every accepted request. On a 429 this is `0`.
      schema: { type: integer, minimum: 0, example: 117 }
    RateLimitReset:
      description: |
        Unix-seconds (UTC) timestamp when the current window resets
        and `X-RateLimit-Remaining` returns to `X-RateLimit-Limit`.
      schema: { type: integer, minimum: 0, example: 1739887200 }
    RetryAfter:
      description: |
        Seconds the client should wait before retrying. Always >= 1.
        Present only on `429` responses.
      schema: { type: integer, minimum: 1, example: 7 }
    Link:
      description: |
        RFC 8288 web links, comma-separated. Carries up to three
        independent classes of entries; **only the entries that
        apply to a given response are emitted**. Use the SDK's
        `parseLinkHeader(headers.get("Link"))` helper to turn it
        into a `{ rel: url }` map.

          1. **Pagination** (since v1.5.0). Present on every
             paginated list response when the result set has at
             least one page. Always emits `first` and `last`;
             emits `prev` when `page > 1` and `next` when
             `page < totalPages`.
          2. **Deprecation pointers** (since v1.7.0). When the
             current operation is on a deprecation path, emits
             `rel="deprecation"` and `rel="sunset"` entries
             pointing at the upgrade guide, plus an optional
             `rel="successor-version"` entry pointing at the
             replacement endpoint when one exists.

        The pagination + deprecation entries are independent: a
        deprecated paginated endpoint emits BOTH classes of links
        in the same `Link` header.
      schema:
        type: string
        example: |-
          <https://api.example.com/api/v1/providers?page=1&limit=25>; rel="first", <https://api.example.com/api/v1/providers?page=2&limit=25>; rel="next", <https://api.example.com/api/v1/providers?page=4&limit=25>; rel="last", <https://app.example.com/changelog#legacy-thing>; rel="deprecation"
    ETag:
      description: |
        Weak entity-tag for the response body, derived from a stable
        SHA-1 hash of the canonicalized cacheable subset of the
        payload. Always in `W/"<40-hex>"` form. Echo this back as
        `If-None-Match: "<etag>"` on the next poll to receive a
        `304 Not Modified` when nothing has changed. The hash is
        computed AFTER excluding per-request fields (timestamps,
        rate-limit snapshots, last-used markers) so the validator
        is stable across cosmetic refreshes. Available since v1.6.0.
      schema:
        type: string
        pattern: '^W/"[a-f0-9]{40}"$'
        example: 'W/"deadbeefcafebabe1234567890abcdef12345678"'
    Deprecation:
      description: |
        RFC 9745 advisory header. **Present only when this operation
        has entered its deprecation window** — its absence means the
        operation is on the supported path. Value is the
        structured-fields integer form: an `@`-prefixed Unix-seconds
        timestamp recording when deprecation took effect (e.g.
        `@1796083200` is `2026-12-01T00:00:00Z`).

        When `Deprecation` is present, `Sunset` is also present, and
        the `Link` header carries `rel="deprecation"` (and where
        applicable `rel="sunset"`, `rel="successor-version"`)
        entries pointing at the upgrade guide and replacement
        endpoint. Available since v1.7.0.
      schema:
        type: string
        pattern: '^@[0-9]+$'
        example: "@1796083200"
    Sunset:
      description: |
        RFC 8594 advisory header. **Present only when this operation
        has entered its deprecation window** — pairs with the
        `Deprecation` header. Value is an HTTP-date (IMF-fixdate per
        RFC 9110 §5.6.7) marking the wall-clock at which the
        operation will start returning `410 Gone`. Always at least
        180 days in the future at first publication; the policy
        lives in `docs/api/versioning.md` §4. Available since
        v1.7.0.
      schema:
        type: string
        example: "Sun, 11 Nov 2030 23:59:59 GMT"

  schemas:
    Error:
      type: object
      required: [type, title, status, detail, error]
      description: |
        Canonical v1 error body. Since v1.8.0 every non-2xx response
        body is an RFC 9457 Problem object that ALSO carries the
        legacy `{ error: { code, message, ...extras } }` envelope as
        an extension member, so existing SDKs continue to read
        `body.error.code` unchanged. New clients SHOULD read the
        top-level RFC 9457 fields (`type`, `title`, `status`,
        `detail`, `instance`).

        The Content-Type is `application/problem+json` per RFC 9457
        §3, except when the caller's `Accept` header excludes it —
        in which case the same body is returned with
        `Content-Type: application/json`.
      properties:
        type:
          type: string
          format: uri
          description: |
            Stable URI per error code. Per RFC 9457 §3.1.1 this is
            "the primary identifier for the problem type". Changing
            this URI for an existing code is a breaking change.
          example: "https://essen-credentialing.example/errors/not-found"
        title:
          type: string
          description: |
            Short human-readable summary. Per RFC 9457 §3.1.3 this
            SHOULD NOT change between occurrences of the problem.
          example: "Resource not found"
        status:
          type: integer
          minimum: 400
          maximum: 599
          description: |
            HTTP status code, mirrored into the body for consumers
            who only see the body (e.g. behind proxies that strip
            status). MUST equal the response status.
          example: 404
        detail:
          type: string
          description: |
            Human-readable explanation specific to this occurrence.
            Mirrors `error.message`.
          example: "Provider not found"
        instance:
          type: string
          description: |
            URI reference identifying the specific occurrence —
            typically the request path that triggered the error.
          example: "/api/v1/providers/abc"
        error:
          type: object
          required: [code, message]
          description: |
            Legacy envelope, preserved verbatim for backward
            compatibility. Removing this is a breaking change that
            requires a new major version.
          properties:
            code:
              type: string
              description: |
                Stable machine-readable identifier for the failure
                mode. Snake_case. Part of the contract — never renamed
                without bumping `info.version` and following the
                deprecation policy in `docs/api/versioning.md`.
              example: "not_found"
            message:
              type: string
              description: Human-readable explanation, may change between releases.
              example: "Provider not found"
            required:
              type: string
              description: |
                Present on `insufficient_scope` errors — names the
                scope the API key would have needed. Optional on
                other errors.

    RateLimitProblem:
      type: object
      required: [type, title, status, detail, error, retryAfterSeconds]
      description: |
        Body of a `429 Too Many Requests` response. Same RFC 9457
        Problem shape as `Error` (since v1.8.0), with an additional
        top-level `retryAfterSeconds` extension member that mirrors
        the `Retry-After` header so SDKs that don't read response
        headers can still back off correctly.
      properties:
        type:
          type: string
          format: uri
          example: "https://essen-credentialing.example/errors/rate-limited"
        title:
          type: string
          example: "Rate limit exceeded"
        status:
          type: integer
          const: 429
          example: 429
        detail:
          type: string
          example: "Rate limit of 120 requests/min exceeded. Retry in 7s."
        instance:
          type: string
          example: "/api/v1/providers"
        retryAfterSeconds:
          type: integer
          minimum: 1
          example: 7
          description: |
            Seconds until the next request is allowed. Always matches
            the `Retry-After` header. Top-level extension member per
            RFC 9457 §3.2 so callers that don't parse the legacy
            `error` envelope can still find it.
        error:
          type: object
          required: [code, message, retryAfterSeconds]
          description: Legacy envelope, preserved.
          properties:
            code:
              type: string
              const: "rate_limited"
              example: "rate_limited"
            message:
              type: string
              example: "Rate limit of 120 requests/min exceeded. Retry in 7s."
            retryAfterSeconds:
              type: integer
              minimum: 1
              example: 7
              description: |
                Seconds until the next request is allowed. Always
                matches the `Retry-After` header.

    ValidationFieldError:
      type: object
      required: [field, code, message]
      description: |
        One field-level validation failure. Stable wire shape since
        v1.9.0; the `code` value is the underlying Zod issue code
        and is part of the contract — never renamed without a
        SemVer bump.
      properties:
        field:
          type: string
          description: |
            Dot-joined path inside the parsed query parameters
            (e.g. `"limit"`, `"page"`, `"filters.status"`). Empty
            string when the failure is on the root.
          example: "limit"
        code:
          type: string
          description: |
            Stable Zod issue code. Common values include
            `too_small`, `too_big`, `invalid_enum_value`,
            `invalid_type`, `invalid_string`. Renaming any code
            here is a breaking change.
          example: "too_big"
        message:
          type: string
          description: Human-readable English explanation.
          example: "Number must be less than or equal to 100"

    ValidationProblem:
      type: object
      required: [type, title, status, detail, errors, error]
      description: |
        Body of a `400 Bad Request` validation failure. Same RFC 9457
        Problem shape as `Error` (since v1.8.0), with an additional
        top-level `errors[]` extension member listing every
        offending parameter in the request. Available since v1.9.0.

        The `type` URI is always
        `…/errors/invalid-request`. The `errors[]` array is
        non-empty (a 400 with zero errors would be incoherent).
        Multiple invalid parameters in one request surface as
        multiple entries — clients no longer need to retry once
        per fix. The legacy `error: { code: "invalid_request",
        message }` envelope is preserved at the same path as every
        other v1 error.
      properties:
        type:
          type: string
          format: uri
          const: "https://essen-credentialing.example/errors/invalid-request"
          example: "https://essen-credentialing.example/errors/invalid-request"
        title:
          type: string
          const: "Invalid request"
          example: "Invalid request"
        status:
          type: integer
          const: 400
          example: 400
        detail:
          type: string
          example: "Request validation failed"
        instance:
          type: string
          example: "/api/v1/providers"
        errors:
          type: array
          minItems: 1
          description: |
            Non-empty list of field-level validation failures.
            Top-level extension member per RFC 9457 §3.2.
          items:
            $ref: "#/components/schemas/ValidationFieldError"
        error:
          type: object
          required: [code, message]
          description: Legacy envelope, preserved.
          properties:
            code:
              type: string
              const: "invalid_request"
              example: "invalid_request"
            message:
              type: string
              example: "Request validation failed"

    Pagination:
      type: object
      required: [page, limit, total, totalPages]
      properties:
        page: { type: integer, minimum: 1 }
        limit: { type: integer, minimum: 1, maximum: 100 }
        total: { type: integer, minimum: 0 }
        totalPages: { type: integer, minimum: 0 }

    Health:
      type: object
      description: |
        Result of `GET /api/v1/health`. Confirms the supplied API key
        is active and the environment is reachable. Never includes
        PHI or customer-specific business data beyond the keyId
        fingerprint.
      required: [ok, keyId, apiVersion, time]
      properties:
        ok:
          type: boolean
          description: Always `true` on a 200 response. Reserved for forward-compat.
          example: true
        keyId:
          type: string
          format: cuid
          description: Identifier of the active API key (NOT the secret).
          example: "ck0jm0a4e0000abcd1234efgh"
        apiVersion:
          type: string
          description: Semver version of the v1 surface (matches `info.version`).
          example: "1.10.0"
        time:
          type: string
          format: date-time
          description: Server-side ISO-8601 UTC timestamp for clock-skew checks.
          example: "2026-04-18T20:45:00.000Z"

    Me:
      type: object
      description: |
        Result of `GET /api/v1/me`. The canonical "what can my API
        key actually do?" view. Includes the key's name, granted
        scopes, lifecycle timestamps, and the current rate-limit
        budget snapshot. Never includes the bearer key, the key
        hash, or any PHI. Available since spec v1.4.0.
      required: [keyId, name, scopes, createdAt, expiresAt, lastUsedAt, rateLimit]
      properties:
        keyId:
          type: string
          description: Identifier of the active API key (NOT the secret).
          example: "ck0jm0a4e0000abcd1234efgh"
        name:
          type: string
          description: |
            Human-readable label set by the admin who created the key
            (e.g. "Production prod-east"). Safe to surface verbatim
            to the end user.
          example: "Production prod-east"
        scopes:
          type: array
          description: |
            Granted scopes from the API_SCOPES vocabulary. Order is
            stable across calls; an empty array means the key is
            authenticated but cannot call any scoped operation.
          items:
            type: string
            enum:
              - providers:read
              - providers:cv
              - sanctions:read
              - enrollments:read
              - fhir:read
          example: ["providers:read", "sanctions:read"]
        createdAt:
          type: string
          format: date-time
          description: ISO-8601 UTC timestamp when the key was issued.
          example: "2026-01-15T10:30:00.000Z"
        expiresAt:
          type: [string, "null"]
          format: date-time
          description: |
            ISO-8601 UTC expiry timestamp. `null` means the key never
            expires (admin-issued, indefinite). The `/me` call still
            returns 200 right up to the moment of expiry; the next
            scoped call after expiry returns 401 with
            `code: "expired_api_key"`.
          example: "2027-01-15T10:30:00.000Z"
        lastUsedAt:
          type: [string, "null"]
          format: date-time
          description: |
            ISO-8601 UTC timestamp of the most recent successful
            authentication. `null` for keys that have never been
            used. Updated best-effort on every authenticated request.
          example: "2026-04-18T22:14:33.123Z"
        rateLimit:
          type: [object, "null"]
          description: |
            Snapshot of the current per-key rate-limit budget. The
            same numbers are also surfaced on the `X-RateLimit-*`
            response headers (see §3.3 of `docs/api/versioning.md`).
            `null` only on the (unlikely) older deployments that
            haven't yet adopted the rate-limit contract.
          required: [limit, remaining, resetUnixSeconds]
          properties:
            limit:
              type: integer
              minimum: 1
              description: Maximum requests allowed in the current fixed window.
              example: 120
            remaining:
              type: integer
              minimum: 0
              description: Requests still available in the current window.
              example: 117
            resetUnixSeconds:
              type: integer
              description: Unix-seconds (UTC) when the window resets.
              example: 1739887200

    ProviderStatus:
      type: string
      description: Lifecycle stage of the provider record.
      enum:
        - INVITED
        - APPLICATION_IN_PROGRESS
        - VERIFICATION_IN_PROGRESS
        - COMMITTEE_REVIEW
        - APPROVED
        - DENIED
        - TERMINATED
        - SUSPENDED

    SanctionsResult:
      type: string
      enum: [CLEAR, MATCH, REVIEW_REQUIRED]

    EnrollmentStatus:
      type: string
      enum:
        - NOT_STARTED
        - IN_PROGRESS
        - SUBMITTED
        - APPROVED
        - DENIED
        - TERMINATED

    ProviderType:
      type: object
      properties:
        name: { type: string }
        abbreviation: { type: string }

    ProviderSummary:
      type: object
      required: [id, legalFirstName, legalLastName, status, createdAt]
      properties:
        id: { type: string, format: cuid }
        legalFirstName: { type: string }
        legalLastName: { type: string }
        npi: { type: string, nullable: true, pattern: "^[0-9]{10}$" }
        status: { $ref: "#/components/schemas/ProviderStatus" }
        providerType: { $ref: "#/components/schemas/ProviderType" }
        approvedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

    ProviderDetail:
      allOf:
        - $ref: "#/components/schemas/ProviderSummary"
        - type: object
          properties:
            legalMiddleName: { type: string, nullable: true }
            caqhId: { type: string, nullable: true }
            updatedAt: { type: string, format: date-time }
            profile:
              type: object
              nullable: true
              properties:
                specialtyPrimary: { type: string, nullable: true }
                facilityAssignment: { type: string, nullable: true }
                jobTitle: { type: string, nullable: true }
            licenses:
              type: array
              items:
                type: object
                properties:
                  id: { type: string, format: cuid }
                  state: { type: string }
                  licenseType: { type: string }
                  status: { type: string }
                  expirationDate: { type: string, format: date, nullable: true }
            enrollments:
              type: array
              items:
                type: object
                properties:
                  id: { type: string, format: cuid }
                  payerName: { type: string }
                  status: { $ref: "#/components/schemas/EnrollmentStatus" }
                  effectiveDate: { type: string, format: date, nullable: true }
            expirables:
              type: array
              items:
                type: object
                properties:
                  id: { type: string, format: cuid }
                  expirableType: { type: string }
                  status: { type: string }
                  expirationDate: { type: string, format: date, nullable: true }

    ProvidersPage:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/ProviderSummary" }
        pagination: { $ref: "#/components/schemas/Pagination" }

    SanctionsCheck:
      type: object
      required: [id, source, result, runDate]
      properties:
        id: { type: string, format: cuid }
        source: { type: string, example: "OIG_LEIE" }
        result: { $ref: "#/components/schemas/SanctionsResult" }
        runDate: { type: string, format: date-time }
        triggeredBy: { type: string, nullable: true }
        provider:
          type: object
          properties:
            id: { type: string, format: cuid }
            legalFirstName: { type: string }
            legalLastName: { type: string }
            npi: { type: string, nullable: true }

    SanctionsPage:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/SanctionsCheck" }
        pagination: { $ref: "#/components/schemas/Pagination" }

    Enrollment:
      type: object
      required: [id, payerName, status]
      properties:
        id: { type: string, format: cuid }
        payerName: { type: string }
        enrollmentType: { type: string, nullable: true }
        status: { $ref: "#/components/schemas/EnrollmentStatus" }
        effectiveDate: { type: string, format: date, nullable: true }
        submittedAt: { type: string, format: date-time, nullable: true }
        provider:
          type: object
          properties:
            id: { type: string, format: cuid }
            legalFirstName: { type: string }
            legalLastName: { type: string }
            npi: { type: string, nullable: true }

    EnrollmentsPage:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/Enrollment" }
        pagination: { $ref: "#/components/schemas/Pagination" }

    ErrorCatalogEntry:
      type: object
      description: |
        One row in the public v1 error catalog (since v1.10.0). The
        canonical, machine-readable description of a single error
        `code` the platform can emit. The same row backs the HTML
        page at `/errors/<kebab-code>` that every Problem body's
        `type` URI resolves to.

        The wire shape is invariant for a given `code` — renaming
        any of `code`, `title`, `status`, or any other field is a
        SemVer breaking change because clients dispatch on it. New
        codes MAY be added in a minor; codes MAY be retired (set
        `retiredInVersion`) but their entries MUST stay in the
        catalog forever so old `type` URIs in SDKs in the wild keep
        resolving.
      required:
        [code, title, status, summary, description, remediation, sinceVersion, docsPath]
      properties:
        code:
          type: string
          pattern: "^[a-z][a-z0-9_]*$"
          description: |
            Stable snake_case identifier — the value of `error.code`
            in every Problem body and the kebab-case suffix of the
            `type` URI. Renaming a code is a SemVer breaking change.
          example: "insufficient_scope"
        title:
          type: string
          maxLength: 60
          description: |
            RFC 9457 `title` — short, occurrence-invariant English
            label. Title-Case, no trailing punctuation, ≤ 60 chars.
          example: "Insufficient scope"
        status:
          type: integer
          minimum: 400
          maximum: 599
          description: |
            HTTP status the platform always returns alongside this
            code. One status per code; if the same condition can
            produce two statuses, that's two separate codes.
          example: 403
        summary:
          type: string
          description: |
            One-sentence English summary — the body of the `/errors`
            index row. Plain prose, no markdown.
          example: "The API key is valid, but it does not carry the scope required for the requested operation."
        description:
          type: string
          description: |
            Full English explanation of what triggers the error and
            what the body shape looks like. Markdown is permitted.
            Used in the `/errors/{code}` detail page and the JSON
            detail endpoint.
        remediation:
          type: string
          description: |
            Concrete remediation guidance for the integrator.
            Markdown permitted. Empty string is allowed for `5xx`
            codes where the remediation is "retry with backoff"
            (which is implicit).
        sinceVersion:
          type: string
          pattern: "^\\d+\\.\\d+\\.\\d+$"
          description: |
            SemVer of the OpenAPI spec at which this code was
            introduced. Customers can filter the catalog by
            `sinceVersion` to discover what's new.
          example: "1.0.0"
        retiredInVersion:
          type: string
          pattern: "^\\d+\\.\\d+\\.\\d+$"
          description: |
            If set, the SemVer of the OpenAPI spec at which this
            code was retired. Retired codes still appear in the
            catalog (so old `type` URIs keep resolving) but the
            platform no longer emits them.
          example: "1.20.0"
        docsPath:
          type: string
          description: |
            Stable HTTP path under the public host where the
            human-readable docs for this code live. Always
            `/errors/<kebab-code>`. Pre-computed server-side so
            consumers don't have to derive it.
          example: "/errors/insufficient-scope"

    ErrorCatalogList:
      type: object
      description: |
        Response body of `GET /api/v1/errors` (since v1.10.0). The
        `entries[]` array is sorted by `code` ascending and is
        identical for every caller — the catalog is fully public.
      required: [entries]
      properties:
        entries:
          type: array
          description: Every catalog row, sorted by `code` ascending.
          items: { $ref: "#/components/schemas/ErrorCatalogEntry" }
